/*:root {
  --card-height: calc(var(--card-height) / 1.5);
  --card-width: calc(var(--card-height) / 2);
}
*/
body {
  background: #8b8386;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*box-sizing: border-box;  display: flex;  align-items: center;
  flex-direction: column;
*/
}

.card {
 /* background: url("../images/mosque.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--card-width);*/
    background: #532235;

  width: 450px;
 /* height: var(--card-height);*/
 height: 500px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 100%);
  font-family: "Gloria Hallelujah", cursive;
      overflow-y: auto;
    flex-shrink: 50;
    flex-basis: 100%;
}

img {
  display: inline-block;
  
}

p{
    font-size: 18px;
    padding: 0px;
    font-weight: bold; 
    margin: 0 auto;

}

.quotation-Source {
  color: white;
  font-size:  1vw;
  font-family: "Titan One", cursive;
  position: relative;
}

.my-icon{
    width: 30px;
  height: 30px;
    fill: #cca01d;       /* Changes the inside color */
  stroke: #cca01d;     /* Changes the border outline */
  stroke-width: 0px;   /* Sets border thickness */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.my-icon:hover path {
  fill:#8b5f65;
  stroke-width: 1px
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
   grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
  background-color: #8B5F65;
  padding: 5px;
}

.grid-container > div {
  background-color: #8b8386;
  text-align: center;
  font-size: 30px;
}

.flex-container-vertical{

  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction:column;
  padding: 0px;

}
.flex-container-horizontalal{

  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction:row;
  margin-left: 3px;
  margin-right: 3px;


}

/*
.card:hover {
  color: rgb(88 199 250 / 100%);
  background-color: rgb(64, 68, 70);
  transition: color 1s; 
}
.card:hover:before,
.card:hover:after {
  opacity: 1;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;

  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}
*/ 

/*
.card::after {

  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));

  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;

}



a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}
  */


/* Animation 
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
*/
.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 25ch;
  direction: rtl;
  /* dont want the blinking border
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;*/
  animation: typing 2s steps(22);
  white-space: normal;
  overflow: hidden;
 /* border-right: 3px solid;*/
  font-size: 1em;
}

@keyframes typing {
  from {
    width: 0;
     border-color: transparent
  }
}


/*
@keyframes blink {
  50% {
    border-color: transparent
  }
}
*/

/*from w3 school
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-padding-large{padding:12px 24px!important}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-center {text-align:center}
*/
